spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/aideesigns
    username: ${DB_USERNAME:aideesigns_user}
    password: ${DB_PASSWORD:devpassword}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    schemas: public


server:
  port: 8080
